<main>
    <section class="goregoan-campus">
        <div class="container">
            <div class="campus-main-area">
                <div class="sidenav-list-area pull-left">
                    <div class="sidenav-list list-group">
                        <a href="" class="list-group-item text-capitalize">Goregaon Campus</a>
                        <a href="" class="list-group-item text-capitalize">Message from the Head of School</a>
                        <a href="" class="list-group-item text-capitalize">Athletics</a>
                        <a href="" class="list-group-item text-capitalize">Trips</a>
                        <a href="" class="list-group-item text-capitalize">Extra-curricular Activities</a>
                        <a href="" class="list-group-item text-capitalize">Community Outreach</a>
                        <a href="" class="list-group-item text-capitalize">Facilities</a>
                    </div>
                </div>
                <div class="list-desc-area pull-left" style="display:none;">
                    <div class="list-desc-bg d-flex">
                        <figure>
                            <img src="img/goregoan-campus/goregoan-campus-bg.jpg" class="img-responsive" alt="Background Image">
                        </figure>
                        <div class="list-desc-title d-flex align-items-center">
                            <h3>“Education is not preparation for life; education is life itself.”</h3>
                        </div>
                    </div>
                </div>
                <div class="goregoan-campus-area pull-left wd100 section-padding" style="display:none;">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="profile">
                                <div class="profile-image">
                                    <figure>
                                        <img src="img/goregoan-campus/neil-mcwilliam.png" class="img-responsive" alt="-Neil McWilliam">
                                    </figure>
                                </div>
                                <div class="profile-data">
                                    <div class="profile-data-name text-center"><i>-Neil McWilliam</i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="campus-desc-area">
                                <h3>Welcome to the website of Oberoi International School, Mumbai, one of the premier international schools in India</h3>
                                <p>We are a happy school, because happy children learn better than unhappy ones. We are, as one parent described us, “the school that children run to in the mornings”. The warmth of this school is apparent the moment you walk
                                    through the doors, as is the energy. Our classrooms are seldom quiet, because they are filled with activity as children (and teachers) actively learn with enthusiasm. The engagement of the children is obvious; learning
                                    is a joyful experience which is energetically pursued.</p>
                                <p>Our children learn together, because research teaches us that a collaborative environment is the most fertile one for learning to grow. We are a happy, international learning community, flourishing in an extraordinary facility
                                    which is unique to Mumbai.</p>
                                <p>Our facilities and resources are outstanding because we believe children are very important.Our international and local teachers are skilled and dedicated because they understand how important children are. Our graduates
                                    score outstanding IB Diploma results, but that is just a part of the picture. At OIS, we do more than produce great results - we produce great people.</p>
                                <p>Come and join us, join the adventure!</p>
                            </div>
                        </div>
                    </div>

                </div>
                <!--Athletic Program section-->
                <div class="list-desc-area pull-left" style="display:none;">
                    <div class="list-desc-bg d-flex align-items-center">
                        <figure>
                            <img src="img/goregoan-campus/athletic-program-bg.jpg" class="img-responsive" alt="Banner Image">
                        </figure>
                        <div class="list-desc-title">
                            <h3>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor”</h3>
                        </div>
                    </div>
                    <div class="athletic-program-area section-padding">
                        <h3>OIS Athletic Program</h3>
                        <span class="d-block">Philosophy</span>
                        <p>Oberoi International School believes that a dynamic program of student activities is vital to the educational development of our students. We believe that the athletic program at OIS should reflect and support the school’s mission
                            and core values. Athletics contributes significantly to the total development of every student. OIS serves our students through two distinct, yet mutually supportive programs: The Inter-scholastic Sports Program and the Intramural
                            Sports Program.
                        </p>
                        <p>Sport is integral to individuals, social and cultural development. At OIS, we model the enduring values of sport: Commitment, good sportsmanship, team work, responsibility, resilience, and healthy competition. We develop these
                            values by learning from our victories, our losses, the day-to-day challenges of practice, and our efforts to find balance between our academic, athletic, and personal lives. As teachers, coaches, and student-athletes, we strive
                            to excel by being clear on our common goals and by being loyal to each other and to our values.
                        </p>
                        <p>Through the inter-scholastic and intramural programs, we emphasize that participation in athletics is a privilege and we encourage all students to take part. With this privilege go certain responsibilities. We have high expectations
                            for behavior, commitment, academic achievement, and making healthy choices. In conclusion, through the OIS mission and core values our athletic program seeks to support our students as they strive to excel.</p>
                        <div class="athletic-program-calender d-flex align-items-center">
                            <div class="athletic-program-profile d-flex align-items-center justify-content-center text-center">
                                <span class="d-block">Please <br>Click Here for</span>
                            </div>
                            <div class="athletic-profile-data">
                                <ul>
                                    <li><a>Athletic Season Calendar 2017-18</a></li>
                                    <li><a>Current Athletic try-outs and Practice Schedule</a></li>
                                    <li><a>OIS Athletic Student Handbook 2017-18</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Trips section -->
                <div class="list-desc-area pull-left" style="display:block;">
                    <div class="list-desc-bg d-flex">
                        <figure>
                            <img src="img/goregoan-campus/trips/trips-bg.jpg" class="img-responsive" alt="Where we are">
                        </figure>
                        <div class="list-desc-title d-flex align-items-center">
                            <h3>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor”
                            </h3>
                        </div>
                    </div>
                    <div class="events-area pull-left wd100 section-padding">
                        <div class="row">
                            <div class="col-md-7 col-md-offset-3">
                                <div class="events-title">
                                    <h3>Trips & Events</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="profile">
                                            <div class="profile-image">
                                                <figure>
                                                    <img src="img/goregoan-campus/trips/event1.png" class="img-responsive" alt="Governance's photograph">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="profile">
                                            <div class="profile-data">
                                                <span class="d-block text-uppercase text-uppercase profile-data-name">Niall De Burca</span>
                                                <p>Niall De Burca conducted a workshop on "Storytelling as a Tool of Education" using both traditional and original tales plus the ideas which children provided. He ensured a fantastic experience and imbued
                                                    the audience with the knowledge that they too are storytellers!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="profile">
                                            <div class="profile-image">
                                                <figure>
                                                    <img src="img/goregoan-campus/trips/event2.png" class="img-responsive" alt="Governance's photograph">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="profile">
                                            <div class="profile-data">
                                                <span class="d-block text-uppercase text-uppercase profile-data-name">Curtis Jobling</span>
                                                <p>Not only is he a brilliant author and illustrator but the combination of the two elements in his talks had the whole audience, adults and children alike, totally enthralled from start to finish. His wit
                                                    and humour and interaction with his audience served to inspire and motivate not just the children but also the staff. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="profile">
                                            <div class="profile-image">
                                                <figure>
                                                    <img src="img/goregoan-campus/trips/event3.png" class="img-responsive" alt="Governance's photograph">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="profile">
                                            <div class="profile-data">
                                                <span class="d-block text-uppercase text-uppercase profile-data-name">Pete Lockett</span>
                                                <p>Pete has taken his knowledge of Indian instruments, rhythms and techniques, along with his innate knowledge of Western music and has applied these skills into a unique "world-view" of percussion. It was
                                                    indeed a once in a lifetime opportunity to have him perform live for us.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="profile">
                                            <div class="profile-image">
                                                <figure>
                                                    <img src="img/goregoan-campus/trips/event4.png" class="img-responsive" alt="Governance's photograph">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="profile">
                                            <div class="profile-data">
                                                <span class="d-block text-uppercase text-uppercase profile-data-name">Curtis Jobling</span>
                                                <p>Not only is he a brilliant author and illustrator but the combination of the two elements in his talks had the whole audience, adults and children alike, totally enthralled from start to finish. His wit
                                                    and humour and interaction with his audience served to inspire and motivate not just the children but also the staff.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>