 @media (max-width: $screen-sm-max) {
     // Tablet
 }
 
 @media (min-width: 576px) {
     /****************************consistent area(For all pages) ***********************************/
     .list-desc-area .list-desc-img {
         max-width: 58.333333%;
         flex: 0 0 58.333333%;
     }
     .list-desc-area .list-desc-title {
         max-width: 41.666667%;
         -webkit-flex: 0 0 41.666667%;
         /* Safari 6.1+ */
         -ms-flex: 0 0 41.666667%;
         /* IE 10 */
         flex: 0 0 41.666667%;
     }
     /****************************about-us-area ***********************************/
     .school-records-area ul>li {
         max-width: 25%;
         min-height: 120px;
         border-right: 1px solid #889b89;
         -webkit-flex: 0 0 25%;
         /* Safari 6.1+ */
         -ms-flex: 0 0 25%;
         /* IE 10 */
         flex: 0 0 25%;
     }
     .school-records-area ul>li:last-child,
     .news-area ul>li {
         border: none;
     }
     /****************************Home***********************************/
     .news-area ul>li {
         max-width: 50%;
         min-height: 120px;
         border-right: 1px solid #509e99;
         -webkit-flex: 0 0 50%;
         /* Safari 6.1+ */
         -ms-flex: 0 0 50%;
         /* IE 10 */
         flex: 0 0 50%;
         @include flex-direction(column);
     }
 }