 @media (max-width: $screen-xs-max) {
     // Mobile
     .mob-heading {
         text-align: center;
     } 
     .sidenav-list-area {
        width: 100%;
    }
    .list-desc-area {
        width: 100%;
    }
    //home page scss
    .broadcasting-msg-area h2{
        font-size: 12px;
    }
    .broadcasting-slider .flex-control-nav{
        display: none;
    }
    .m-d-block{
        display: block;
    }
    //end of home page scss
     //about us scss
     .section-padding {
         text-align: justify;
     }
     .school-corevalue-area {
         .core-value-image {
             padding-right: 0;
             margin-left: 0;
         }
         .corevalue-desc {
             text-align: center;
         }
         img {
             margin: 0 auto;
         }
     } 
     .governance-area .profile{
         padding-right: 0;
     }
     //end of about us scss
     //goregaon campus scss
     .profile-data {
         text-align: center;
         .profile-data-name {
             text-align: center !important;
         }
     } //end of goregaon campus scss

     //footer scss
     footer ul.social-links > li{
         width: 17px;
         height: 17px;
     }
     footer ul.clients-list > li{
         padding-left: 0px;
     }
 }