/**************************** main-campus-area***********************************/

.broadcasting-slider .broadcasting-msg-area {
    width: 250px;
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
}