<main>
    <section class="main-campus-area">
        <div class="broadcasting-slider">
            <flex-slider flex-slide="camp in campusBanner track by $index" animation="slide">
                <li class="relate">
                    <img ng-src="{{camp.img}}" alt="Banner Image" class="img-responsive">
                    <div class="broadcasting-msg-area font-rg">
                        <h2>{{camp.broadcastingMain}}</h2>
                        <p>{{camp.broadcastingSub}}</p>
                    </div>
                </li>
            </flex-slider>
        </div>
        <div class="container-fluid">
            <div class="campus-area section-padding main-section-width">
                <div class="campus-section d-flex justify-content-center">
                    <div class="campus-add mg-rl3 banner-effect1 relate fix compus1" ui-sref="goregaon-campus">
                        <a><img src="img/home/campus-one.jpg" class="img-full" alt="Goregaon Campus"></a>
                        <div class="banner-desc">
                            <div class="d-table text-center">
                                <div class="d-cell align-middle">
                                    <div class="text-1">GOREGAON-OGC CAMPUS
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="campus-add mg-rl3 banner-effect1 relate fix compus2" ui-sref="jvlr-campus">
                        <a><img src="img/home/campus-second.jpg" class="img-full" alt="jvlr Campus"></a>
                        <div class="banner-desc">
                            <div class="d-table  text-center">
                                <div class="d-cell align-middle">
                                    <div class="text-1">JVLR CAMPUS</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <article class="padd-tb30">
                    <h4 class="text-center padd-tb15">News & Updates</h4>
                    <div class="news-slider">
                        <flex-slider flex-slide="newsUpdate in news track by $index" prev-text="" next-text="" animation="slide" item-width="1500" min-items="2">
                            <li class="remove-border-right">
                                <div class="news-area">
                                    <ul class="list-unstyled d-flex m-d-block align-items-center text-center mg-bt0">
                                        <li class="d-flex m-d-block align-items-center justify-content-center padd15">
                                            <h3>{{newsUpdate.news}} </h3>
                                            <p><a class="btn submit-btn" role="button">News</a></p>
                                        </li>
                                        <li class="d-flex align-items-center justify-content-center padd15">
                                            <div>
                                                <span class="text-number">{{newsUpdate.date}}</span>
                                                <h3>{{newsUpdate.year}}</h3>
                                                <p class="color-text">Lorem ipsum dolor sit amet</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </flex-slider>
                    </div>
                </article>
            </div>
        </div>
    </section>
</main>