<main>
    <section class="aboutus">
        <div class="container">
            <div class="aboutus-main-area">
                <div class="sidenav-list-area pull-left">
                    <div class="sidenav-list list-group">
                        <a href="" class="list-group-item text-capitalize">About Us</a>
                        <a href="" class="list-group-item text-capitalize">Our History</a>
                        <a href="" class="list-group-item text-capitalize">Our Philosophy</a>
                        <a href="" class="list-group-item text-capitalize">Governance</a>
                        <a href="" class="list-group-item text-capitalize">Safety</a>
                    </div>
                </div>
                <div class="list-desc-area pull-left">
                    <div class="list-desc-bg d-flex">
                        <figure>
                            <img src="img/aboutus/aboutus-bg.png" class="img-responsive" alt="Background Image">
                        </figure>
                        <div class="list-desc-title-area d-flex align-items-center">
                            <h3>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor”
                            </h3>
                        </div>
                    </div>
                    <div class="school-history-area section-padding">
                        <p>Oberoi International School is Nursery - 12 school, which began in August 2008. Oberoi International School is an initiative of the Oberoi Foundation and aims to provide world-class education focusing on the holistic development
                            of young learners. The School is a contemporary urban school, and a part of Oberoi Realty's integrated township - Oberoi Garden City, which is spread across 80 acres of land located in theGoregaon (East) suburb of Mumbai.
                        </p>
                        <div class="school-records-area section-padding">
                            <ul class="list-unstyled d-flex align-items-center text-center">
                                <li>
                                    <span class="d-block">OVER</span>
                                    <span class="d-block">1600</span>
                                    <span class="d-block">STUDENTS</span>
                                </li>
                                <li>
                                    <span class="d-block">17</span>
                                    <span class="d-block">DIFFERENT</span>
                                    <span class="d-block">NATIONALITIES</span>
                                </li>
                                <li>
                                    <img src="img/aboutus/partner-three.png" class="img-responsive" alt="School Status">
                                </li>
                                <li>
                                    <img src="img/aboutus/partner-one.png" class="img-responsive" alt="School Status">
                                </li>
                            </ul>
                        </div>
                        <p>The School started with a vision of providing excellent infrastructure and services that complimented the curriculum offered. The School started off with facilities like art zones, music & dance studios, social zones, play areas
                            and sports amenities in the first year and has expanded to now house a second library, a half Olympic size pool, an audio visual theatre and recordingstudio.</p>
                        <p>The School began its first year with 38 students, and opened its 9th Academic Year on August 3, 2016 with approximately 1,630 students. The first batch of Grade 12 students graduated from the IBDP in the AY 2010-11.</p>
                        <p>We received the accreditation from the CIE for the Cambridge Secondary 1 (Grades 6-8) and IGCSE (Grades 9 and 10) Programmes on October 1, 2008, from the IBO for the IBDP (Grade 11 and 12) on June 2, 2009, and the PYP on December
                            21, 2011. We were granted the CIS and NEASC membership on April 4, 2012, and received full 10-year accreditation from both organizations in January of 2014.</p>
                        <p>The School is governed by a nine-member board of directors. Knowledge, Respect, Social Responsibility, Creativity and Celebration are the core values which the School decided to adopt as a part of its identity.</p>
                        <p>The vision and mission of the School received a boost in the AY 2011-12 when we added the motto line "Freedom to think. Empower to be..."</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>