<main>
    <section class="aboutus">
        <div class="container">
            <div class="aboutus-main-area">
                <div class="sidenav-list-area pull-left">
                    <div class="sidenav-list list-group caret-right">
                        <a href="" class="list-group-item text-capitalize">About Us</a>
                        <a href="" class="list-group-item text-capitalize">Our History</a>
                        <a href="" class="list-group-item text-capitalize">Our Philosophy</a>
                        <a href="" class="list-group-item text-capitalize">Governance</a>
                        <a href="" class="list-group-item text-capitalize">Safety</a>
                    </div>
                </div>
                <div class="list-desc-area pull-left" style="display:none;">
                    <div class="list-desc-bg d-flex">
                        <figure>
                            <img src="img/aboutus/aboutus-bg.png" class="img-responsive" alt="Background Image">
                        </figure>
                        <div class="list-desc-title d-flex align-items-center">
                            <h3>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor”
                            </h3>
                        </div>
                    </div>
                    <div class="school-history-area section-padding">
                        <p>Oberoi International School is Nursery - 12 school, which began in August 2008. Oberoi International School is an initiative of the Oberoi Foundation and aims to provide world-class education focusing on the holistic development
                            of young learners. The School is a contemporary urban school, and a part of Oberoi Realty's integrated township - Oberoi Garden City, which is spread across 80 acres of land located in theGoregaon (East) suburb of Mumbai.
                        </p>
                        <div class="school-records-area section-padding">
                            <ul class="list-unstyled d-flex align-items-center text-center">
                                <li>
                                    <span class="d-block">OVER</span>
                                    <span class="d-block">1600</span>
                                    <span class="d-block">STUDENTS</span>
                                </li>
                                <li>
                                    <span class="d-block">17</span>
                                    <span class="d-block">DIFFERENT</span>
                                    <span class="d-block">NATIONALITIES</span>
                                </li>
                                <li>
                                    <img src="img/aboutus/partner-three.png" class="img-responsive" alt="School Status">
                                </li>
                                <li>
                                    <img src="img/aboutus/partner-one.png" class="img-responsive" alt="School Status">
                                </li>
                            </ul>
                        </div>
                        <p>The School started with a vision of providing excellent infrastructure and services that complimented the curriculum offered. The School started off with facilities like art zones, music & dance studios, social zones, play areas
                            and sports amenities in the first year and has expanded to now house a second library, a half Olympic size pool, an audio visual theatre and recordingstudio.</p>
                        <p>The School began its first year with 38 students, and opened its 9th Academic Year on August 3, 2016 with approximately 1,630 students. The first batch of Grade 12 students graduated from the IBDP in the AY 2010-11.</p>
                        <p>We received the accreditation from the CIE for the Cambridge Secondary 1 (Grades 6-8) and IGCSE (Grades 9 and 10) Programmes on October 1, 2008, from the IBO for the IBDP (Grade 11 and 12) on June 2, 2009, and the PYP on December
                            21, 2011. We were granted the CIS and NEASC membership on April 4, 2012, and received full 10-year accreditation from both organizations in January of 2014.</p>
                        <p>The School is governed by a nine-member board of directors. Knowledge, Respect, Social Responsibility, Creativity and Celebration are the core values which the School decided to adopt as a part of its identity.</p>
                        <p>The vision and mission of the School received a boost in the AY 2011-12 when we added the motto line "Freedom to think. Empower to be..."</p>
                    </div>
                </div>
                <!--Our philosophy section-->
                <div class="list-desc-area pull-left" style="display:none;">
                    <div class="list-desc-bg d-flex align-items-center">
                        <figure>
                            <img src="img/aboutus/philosophy-bg.jpg" class="img-responsive" alt="Banner Image">
                        </figure>
                        <div class="list-desc-title">
                            <h4>Our Vision</h4>
                            <p>At Oberoi International School we give our students the</p>
                            <h2>Freedom to think.Empower to be…</h2>
                        </div>
                    </div>
                    <div class="school-philosophy-area section-padding">
                        <h3>Our Mission</h3>
                        <p>We are dedicated to fulfilling every child’s educational and developmental needs in a safe and caring environment conducive to learning and teaching. We aim to create responsible, global citizens who show understanding, compassion
                            and acceptance of the differences in the world. We strive to ensure that every child in our care is empowered to make choices and encouraged to contribute to our community.
                        </p>
                        <div class="school-corevalue-area section-padding">
                            <div class="row">
                                <div class="col-md-2">
                                    <figure>
                                        <img src="img/aboutus/corevalue-knowledge.png" class="img-responsive" alt="Our Knowledge">
                                    </figure>
                                    <div class="corevalue-desc">
                                        <span class="d-block text-uppercase">
                                           KNOWLEDGE
                                        </span>
                                        <p> We value fostering a passion for lifelong learning by acquiring skills and content required for successful and critical thinkers.</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <figure>
                                        <img src="img/aboutus/corevalue-social.png" class="img-responsive" alt="Our Sociality">
                                    </figure>
                                    <div class="corevalue-desc">
                                        <span class="d-block text-uppercase">
                                          SOCIAL
                                        </span>
                                        <p>Responsibility We value the ideas that individuals have the ability to change the world and the group has the power to make this a reality.</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <figure>
                                        <img src="img/aboutus/corevalue-celebration.png" class="img-responsive" alt="Our Celebration">
                                    </figure>
                                    <div class="corevalue-desc">
                                        <span class="d-block text-uppercase">
                                          CELEBRATION 
                                        </span>
                                        <p>We value celebrating an accomplishment, be it big or small.</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <figure>
                                        <img src="img/aboutus/corevalue-creativity.png" class="img-responsive" alt="Our Creativity">
                                    </figure>
                                    <div class="corevalue-desc">
                                        <span class="d-block text-uppercase">
                                          CREATIVITY
                                        </span>
                                        <p>We value igniting the spark of creativity and curiosity in our students.</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <figure>
                                        <img src="img/aboutus/corevalue-respect.png" class="img-responsive" alt="Our Respect">
                                    </figure>
                                    <div class="corevalue-desc">
                                        <span class="d-block text-uppercase">
                                          respect
                                        </span>
                                        <p>We value treating others the way we ourselves like to be treated.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="school-statement">
                            <h3>Ois Statement On International-mindedness</h3>
                            <p>OIS defines international-mindedness as a way of viewing the world whereby people of all nationalities, cultures, religions and lifestyles are valued equally as individuals, and where our connections with and responsibilities
                                to this rich global community are celebrated, practiced and considered important.</p>
                            <p>International-mindedness at OIS means demonstrating the flexibility and curiosity that enables us to appreciate not only our many differences, but also our common humanity. It means that we strive to overcome barriers and use
                                our gained understanding to care for each other; to cooperate for the common good, both at OIS and in our community.</p>
                        </div>
                    </div>
                </div>
                <!--Our Governance section -->
                <div class="list-desc-area pull-left">
                    <div class="list-desc-bg d-flex">
                        <figure>
                            <img src="img/aboutus/governance-bg.jpg" class="img-responsive" alt="Governance's photograph">
                        </figure>
                        <div class="list-desc-title d-flex align-items-center">
                            <h3>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor”
                            </h3>
                        </div>
                    </div>
                    <div class="governance-area section-padding">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="profile">
                                    <div class="profile-image">
                                        <figure>
                                            <img src="img/aboutus/governance1.png" class="img-responsive" alt="Governance's photograph">
                                        </figure>
                                    </div>
                                    <div class="profile-data">
                                        <span class="d-block profile-data-name text-uppercase text-uppercase ">BINDU OBEROI</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="profile">
                                    <div class="profile-image">
                                        <figure>
                                            <img src="img/aboutus/governance2.png" class="img-responsive" alt="Governance's photograph">
                                        </figure>
                                    </div>
                                    <div class="profile-data">
                                        <span class="d-block  profile-data-name text-uppercase">vikas OBEROI</span>
                                    </div>'
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="profile">
                                    <div class="profile-image">
                                        <figure>
                                            <img src="img/aboutus/governance3.png" class="img-responsive" alt="Governance's photograph">
                                        </figure>
                                    </div>
                                    <div class="profile-data">
                                        <span class="d-block  profile-data-name text-uppercase">DR. PAUL FOCHTMAN</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="profile">
                                    <div class="profile-image">
                                        <figure>
                                            <img src="img/aboutus/governance4.png" class="img-responsive" alt="Governance's photograph">
                                        </figure>
                                    </div>
                                    <div class="profile-data">
                                        <span class="d-block  profile-data-name text-uppercase">MONICA ANAND</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="profile">
                                    <div class="profile-image">
                                        <figure>
                                            <img src="img/aboutus/governance5.png" class="img-responsive" alt="Governance's photograph">
                                        </figure>
                                    </div>
                                    <div class="profile-data">
                                        <span class="d-block  profile-data-name  text-uppercase">VIDHURITA PATNAIK</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="profile">
                                    <div class="profile-image">
                                        <figure>
                                            <img src="img/aboutus/governance6.png" class="img-responsive" alt="Governance's photograph">
                                        </figure>
                                    </div>
                                    <div class="profile-data">
                                        <span class="d-block profile-data-name text-uppercase">ROOPA PURUSHOTHAMAN</span>
                                    </div>'
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="profile">
                                    <div class="profile-image">
                                        <figure>
                                            <img src="img/aboutus/governance7.png" class="img-responsive" alt="Governance's photograph">
                                        </figure>
                                    </div>
                                    <div class="profile-data">
                                        <span class="d-block profile-data-name text-uppercase">DR. INDU SHAHANI</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="profile">
                                    <div class="profile-image">
                                        <figure>
                                            <img src="img/aboutus/governance7.png" class="img-responsive" alt="Governance's photograph">
                                        </figure>
                                    </div>
                                </div>
                                <div class="profile-data">
                                    <span class="d-block  profile-data-name text-uppercase">RADHIKA PEREIRA</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>